@model List<Software>

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>


    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    
</head>

<body>

    <!-- Search Bar -->
    <div class="search-bar-container">
        <form asp-controller="Software" asp-action="search" method="POST">
            <input type="text" name="searchString" placeholder="Search..." />
        </form>
        <div class="cart-container">
            <button class="cart-container" type="submit" onclick="goToViewCart()" /><img src="/images/cart.jpg" alt="Cart" class="cart-icon" />
            <div class="cart-count" id="cart-count-tag"></div>
        </div>
    </div>
    




    <div class="grid-container">
        @foreach (var software in Model)
        {
            <div class="grid-item">
                <h2>@software.softwareName</h2>
                <img src="@Url.Content(software.imageUrl)" alt="@software.softwareName" />
                <p>@software.description</p>
                <p>Price: $@software.price</p>
                <button type="submit" onclick="addToCart(@software.softwareId)">Add to Cart</button>

            </div>
        }
    </div>
    <script>
        const cartCountTag = document.getElementById("cart-count-tag");
        var softwareToPurchase = [];
        function addToCart(softwareId){
            softwareToPurchase.push(softwareId);
            cartCountTag.innerHTML = softwareToPurchase.length;
           
            if (Number.parseInt(softwareToPurchase.length) > 0) {
                cartCountTag.classList.add("border-1");
            } else {
                cartCountTag.classList.remove("border-1");
            }
        }

        function goToViewCart() {
            var softwareToPurchaseString = "";
            for (var i = 0; i < softwareToPurchase.length; i++) 
            {
                softwareToPurchaseString = softwareToPurchaseString + `,${softwareToPurchase[i]}`;
            }
            window.location.href = "/software/ViewCart?softwareToPurchase=" + softwareToPurchaseString;
            // var xhr = new XMLHttpRequest();
            // xhr.open("POST", "/Software/ViewCart?softwareToPurchase="+softwareToPurchaseString);
            
            // xhr.setRequestHeader("content-type", "application/json");
            // xhr.onreadystatechange = function () {
            //     if (this.readyState = XMLHttpRequest.DONE && this.status == 200) 
            //     {
            //         let data = JSON.parse(this.responseText);
            //         console.log(data);
            //         fetch("")
            //     }
            // }
            // xhr.send();
        }
    </script>


</body>
</html>
