@model List<Software>

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>


    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>

    <!-- Search Bar -->
    <div class="search-bar-container">
        <form asp-controller="Software" asp-action="search" method="POST">
            <input type="text" name="searchString" placeholder="Search..." />
        </form>
        <div class="cart-container">

            <button onclick="goToViewCart()" class="cart-container">
                <img src="images/cart.jpg" alt="Cart" class="cart-icon" />
                <span class="cart-count">@ViewBag.CartCount</span>
            </button>
        </div>
    </div>
    




    <div class="grid-container">
        @foreach (var software in Model)
        {
            <div class="grid-item">
                <h2>@software.softwareName</h2>
                <img src="@Url.Content(software.imageUrl)" alt="@software.softwareName" />
                <p>@software.description</p>
                <p>Price: @software.price</p>
                <button type="submit" onclick="addToCart(@software.softwareId)">Add to Cart</button>

            </div>
        }
    </div>
    <script>
        var softwareToPurchase = [];
        function addToCart(softwareId){
            softwareToPurchase.push(softwareId);
        }

        function goToViewCart() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Purchase/ViewCart");
            xhr.setRequestHeader("content-type", "application/json; charset=utf-8;");
            xhr.onreadystatechange = function () {
                if (this.readyState == XMLHttpRequest.DONE) {
                    if(this.status == 200){

                    }
                }
            }
            xhr.send(JSON.stringify(softwareToPurchase));
        }
    </script>



</body>
</html>
