@model List<Purchase>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    foreach(var purchase in Model)
    {
        foreach(var unit in purchase.purchaseUnits)
        {
            <div class="purchase-item">
                <h2>@unit.software.softwareName</h2>
                <img src="@Url.Content(unit.software.imageUrl)" alt="@unit.software.softwareName" width="200px"/>
                <p>@unit.software.description</p>
                <p>Price: $@unit.software.price</p>
                <p>@unit.activationCode</p>
                <p>@purchase.dateOfPurchase.Date</p>
            </div>
        }
    }
}
